.error {
    color: #c32e25;
}
/*Header*/
.navbar{
    margin-bottom: 0px;
    padding: 15px 0;
}
.navbar-nav {
    padding-top: 10px;
}
li.nav-item .nav-link {
    font-size: 15px !important;
}
.navbar.navbar-transparent{
    padding-top: 0.625rem !important;
    background: #fff !important;
}
.navbar a:not(.btn):not(.dropdown-item) {
    color: #666666 !important;
}
.navbar-nav .nav-item .nav-link.active{
    /*    background-color: #333333 !important;*/
    color: #a4a4a4  !important;
}
.navbar .navbar-nav .nav-link:not(.btn){
    padding: 0.5rem;
}
/*faq question*/
#faq_title{

    font-size:30px;
    color: #555;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: underline;
    text-shadow: 1px 1px #555;
}
#faq_que{

    font-size: 17px;
    color: #555;
    font-family: 'simple-line-icons';
    content: '\e607';
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}
#faq_ans{
    font-size: 13px;
    color:#000000;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-decoration: none;
}
/*Content*/
.wrapper {
    margin-top: 6.9rem;
    /*margin-bottom: 4.6rem;*/
}
.tab-content .wrapper {
    margin-top: 2.9rem;
    /*margin-bottom: 4.6rem;*/
}

.m-auto{
    margin: 0 auto;
}
.map iframe {
    border: medium none;
    height: 300px;
    width: 100%;
}
html,
body,
h1, h2, h3, h4, h5, h6,
a, p, span, button, .btn, strong, 
div{
    font-family: 'Roboto Slab', serif;
}
ul, li, ol {
    list-style: outside none none;
    padding: 0;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    /*display: block;*/
    height: auto;
    max-width: 100%;
}
.container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.navbar > .container, .navbar > .container-fluid {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.view .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.d-webkit-box {
    display: -webkit-box;
}

/*Home Slider*/
.h-700{
    height: 700px;
}
.carousel-caption{
    top: 35%;
}
.componentsw{
    width: 75%;
    margin-top: 15px;
}
@media (max-width:767px){
    /*    .banner-wrap{
            width:100%; height:100px; position:relative; 
        }*/
    .componentsw{
        width: 100%;
    }
}
/*Home Page*/
.home-banner{ 
    background: hsl(180, 4%, 95%) none repeat scroll 0 0;
    height: 100%;
    overflow: hidden;
    top: 0;
    width: 100%;
}
.home-banner li{
    height: 100%;
    position: absolute;
    width: 100%;
}
.home-banner li a{
    width:100%;
    /*height:100%;*/
}
.home-banner li img{
    width:100%; height:100%;
}
.home-banner{
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    /*-0-transition:all 0.3s;*/
}
.image_box .imagebox-title {
    bottom: 0px;
    left: 20px;
    position: absolute;
    right: 20px;
    transition: all 0.3s ease-in-out 0s;
}
.image_box:hover .imagebox-title {
    opacity: 0;
}
.image_box {
    position: relative;
    height: 380px;
}
.image_box .image_box-overlay {
    background: rgba(11, 10, 10, 0.69);
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.image_box:hover .image_box-overlay{
    opacity: 1;
}
.image_box-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.image_box:hover .image_box-details{
    top: 50%;
    opacity: 1;
    /*padding: 24px;*/
}
.image_box-details h3{
    color: #fff;
    font-weight: 500;
}
.image_box-details p{
    color: #fff;
    font-size: 0.8em;
}
.description-text {
    color: #fff;
    font-weight: 300;
    line-height: 23px;
}
.section-details{
    background-color: #FCFCFC;
}
.section-components{
    background-attachment: fixed !important;
    background-image: url("../images/img/Subscribe_bg_img.jpg") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.hm-black-strong-1{
    background-color: rgba(0,0,0,.6);
}
.image-container{
    height: 550px
}
.image-container img{
    height: 100%;
}
.presentation-page .section-cards .image-container2{
    width: 21%;
}
.presentation-page .section-cards .image-container1, .presentation-page .section-cards .image-container5 {
    background: #384C87;
    padding: 20px 4px;
    top: -45px;
}
.presentation-page .section-cards .image-container2, .presentation-page .section-cards .image-container4 {
    background: #278085;
}
.presentation-page .section-cards .image-container3 {
    background: #122462;
}
.fs-22{
    font-size: 25px
}
.find-us{
    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url('../images/54a7ae2746397.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
}
.contact-us{
    background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.06)),url('../images/54a8ffacb430d.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
}
.find_text, .contact-us-txt {
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    text-transform: uppercase;
}
.find_text h4, .contact-us-txt h4 {
    padding-top: 8rem;
    margin-top: 0;
    font-weight: bold;
    color: #000;
}
.contact-us-txt p {
    font-size: 16px;
}
.find_text a.btn-default{
    margin-top: 5rem;
}
.find_text a.btn-default, .contact-us-txt a.btn-default{
    background-color: #000;
}
@media (max-width: 991px) {
    .presentation-page .section-cards .image-container1,
    .presentation-page .section-cards .image-container5 {
        width: 16%;
        top: -100px !important;
    }
    .find_text, .contact-us-txt{
        width: auto
    }
    .h-700{
        height: 160px;    
    }
    .navbar-brand{
        margin-left: 1rem;
    }    
    .image-container {
        /*        height: 250px;*/
        text-align: center;
    }
}
@media (max-width: 767px) {
    .presentation-page .section-cards .image-container1,
    .presentation-page .section-cards .image-container5 {
        width: 15%;
    }
    .find_text, .contact-us-txt{
        padding: 0 15px;
        width: auto
    }   
    .image-container img{
        height: 100%;
    }
    .image-container {
        height: 250px;
        text-align: center;
    }
}

/*contact*/
.boulder-intro p{
    font-size: 1.1em;
}
.page-header::before, .card-background::after {
    background-color: rgba(255, 255, 255, 0);
}
.page-header .content-center {
    color: #030303;
}
.contact-moon img {
    position: absolute;
}
.contact-bg-image{
    /*background-image: url(&quot;../assets/img/bg45.jpg&quot;);*/
    transform: translate3d(0px, 0px, 0px);
}
.contact .page-header.page-header-small{
    max-height: 140px;
}
.mb-10{
    margin-bottom: 10px;
}
.contact-content {
    padding-bottom: 40px;
    padding-top: 40px;
}
.info {
    padding-bottom: 10px;
    padding-top: 0;
}

/*about*/
.about .page-header.page-header-small{
    min-height: 70vh;
}

/*E-cigs & Disposable & Fine-E-Liquid*/
.banner170{ 
    height:170px;
    width:100%; 
    position:relative;
    background:#f2f3f3; 
}
.banner170 ul{ 
    height:170px; 
    width:100%; 
    position:absolute; 
    left:0; 
    top:0; 
    overflow:hidden;
}
.banner170 ul li{
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
}
.banner170 ul li img{
    width:100%;
    height:100%;
}
.banner170{
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
}
.item-product{
    /*border-bottom:1px solid #cfcfcf;*/
    padding: 2rem 0;
}
.p-tit {
    font-size: 2.5rem;
}
.MsoNormal span {
    font-size: 25px;
}

/*E-cigs & Disposable*/
.main-ecigs a{
    color: #fff  !important;
}
.main-ecigs a:hover, .main-ecigs a span.active{
    color: #dadada !important;
}
.fixed-box{
    width: 100%;
    /*margin-top:6.6rem;*/
}
.fix-snav{ 
    position:fixed;
    left:0;
    top:0; 
    background:#fff; 
    z-index:500;
}
.box-shadow{
    box-shadow: 0px 0 7px #ccc;
}
.h-100{
    height: 100px !important;
}
.nav-one{
    background:#080707;
}
.snav span{
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    padding: 0 35px;
    position: relative;
}
.ssnav li{ 
    line-height:40px; 
    float:left;
    padding:0 25px 0 0;
}
.ssnav li a{
    color:#646464;
}
.bottle-img{
    height: 500px;
    overflow: hidden;
} 
.air-fucos{
    overflow:hidden;
    margin-bottom:35px;
}
.air-fucos-1{
    overflow:visible;
    margin-bottom:35px;
}
.air-fucos li{
    font-size:16px; 
    color:#4c4c4c; 
    cursor: pointer;
    margin-top:15px;
}
.air-fucos li span{ 
    display:inline-block; 
    vertical-align:middle;
    margin:0 10px 0 0;
    activesor:pointer;
}
.grey {
    border: 13px solid #999999;
    border-radius: 50%;
}
.active .grey{
    border: 13px solid #666666;
    border-radius: 50%;
}
.gold {
    border: 13px solid #E6D7AD;
    border-radius: 50%;
}
.active .gold{
    border: 13px solid #B0A06D;
    border-radius: 50%;
}
.black {
    border: 13px solid #333333;
    border-radius: 50%;
}
.active .black{
    border: 13px solid #000000;
    border-radius: 50%;
}
.red {
    border: 13px solid #ff6666;
    border-radius: 50%;
}
.active .red{
    border: 13px solid #ff0000;
    border-radius: 50%;
}
.blue {
    border: 13px solid #3366ff;
    border-radius: 50%;
}
.active .blue{
    border: 13px solid #0033cc;
    border-radius: 50%;
}
.green {
    border: 13px solid #66cc00;
    border-radius: 50%;
}
.active .green{
    border: 13px solid #339900;
    border-radius: 50%;
}
li.active a {
    color: hsl(0, 0%, 0%);
}
.active {
    color:#333333 !important;
}
.m7-txt > p {
    color: hsl(0, 2%, 62%);
    font-size: 1.4rem;
}
#navrr > ul {
    padding: 0 35px;
}
#nav3 h3 {
    color: hsl(0, 1%, 44%);
    font-size: 18px;
    margin-top: 9px;
    text-align: center;
}
.product-bottom {
    padding: 2rem 0;
}
.cp-txt-list > li {
    border-bottom: 1px solid;
    color: #787575;
}
.m3-txt{
    /*font-size: 1.5rem;*/
    margin-top: 5rem;
}
.m2-txt{
    margin-top: 3rem;
}
.txt{
    float: left; width: 50%;
}
.m7-box > img {
    height: 576px;
}
.m-box{
    position: relative;
    left: 5rem;
}

.modal .modal-login {
    max-width: 530px;
}
.mx-auto{
    margin: 0 auto;
}
.modal-header{
    display: block;
    text-align: center;
}
.modal-header h2 {
    font-size: 26px;
    margin-top: 30px;
    color: #fff;
    text-transform: uppercase;
}
.modal-header h6 {
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
}
.modal-body a.cur {
    background: #86C73F none repeat scroll 0 0 !important;
    color: hsl(0, 0%, 100%) !important;
    font-size: 18px;
    width: 100%;
}
.modal-content {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0 !important;
    color: hsl(0, 0%, 0%) !important;
}
.card a:not(.btn):not(.nav-link):not([data-toggle="collapse"]){
    border-bottom: none !important;
}
.modal-body {
    margin-top: 21px;
    margin-bottom: 20px;
}
.modal-body p {
    font-size: 12px;
    margin-bottom: 0;
    color: #6b6767;
    text-transform: lowercase;
}
.modal-header {
    background: #5BC2E7;
    padding: 25px 0 35px !important;
}
.btn_age {
    font-size: 19px;
    margin: -30px 31px 0;
    padding: 16px 1px;
    background: #000 !important;
}
.modal-footer > p {
    color: hsl(0, 1%, 64%);
    font-size: 11px;
    padding: 0 20px;
}
#loginModal{
    background-color: hsla(0, 0%, 0%, 0.5);
}


div.wrappernp {
    clear: both; overflow: hidden;
}
div.arrow {
    color: hsl(0, 0%, 80%);
    cursor: pointer;
    font-size: 6rem;
    text-align: center;
    width: 10%;
}
div.numWrap {
    width: 80%; 
    overflow: hidden;
    line-height: 64px;
    position: relative;
    z-index: 0;
}
a.numberItem {
    display: inline-block;
    line-height: 48px;
    margin: 0 8px;
    text-align: center;
    width: 48px;
}
.inner-scroll ul > li {
    margin: 0 2.5rem;
    cursor: pointer;
}
.head-text {
    color: hsl(0, 1%, 37%);
    font-size: 14px;
    text-align: center;
}
.inner-scroll ul > li:hover {
    -moz-transform: scale(1.1);
    transition: all 0.3s ease-in;
    transform: scale(1.1);  
}
.imghw img{
    overflow: hidden; width: 107px; height: 160px; margin-top: 5px;
}
.imghw{
    text-align: center;

}
.smock-ptxt{
    color:#3A3A3A;
    font-size:20px !important;
}
.title{
    font-size:13px;
}
.plineh{
    line-height: 24px;
}
.gqimg{
    float: left;
    margin-right: 10px;
}
.dis-bg {
    height: 105px;
    overflow: hidden;
    width: 136px;
}
.m7-box-3 {
    height: 581px;
    overflow: hidden;
    position: relative;
    width: 500px;
}
/*Search*/
.form-group{
    margin-bottom: 0;
}
/*Support*/
.search-wrap.search-wrap-1 input {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
    border: 1px solid hsl(0, 1%, 42%);
    color: hsl(0, 0%, 0%);
    padding: 6px 8px 8px;
    width: 70%;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: hsl(208, 98%, 43%);
    border-color: hsl(208, 98%, 43%);
    color: hsl(0, 0%, 100%);
}

.search-wrap.search-wrap-1 {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px 27px 30px;
}

.photo-wrap {
    margin-top: 2rem;
}
.photo-list {
    /*display: inline-block;*/
}
.photo-list > li {
    border: 3px solid;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    width: 24%;
}
.photo-list > li:hover{
    border-color: #2D4488;
    color: #2D4488;
}
.photo-list h3 {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}
.tit {
    margin-top: 15px;
}
.more-btn > a {
    color: hsl(0, 0%, 40%);
}

.Result-for > a {
    color: hsl(0, 0%, 36%);
    float: right;
    font-size: 17px;
    font-weight: 600;
}
.Tag-for {
    font-size: 17px;
}
.Result-for {
    margin-top: 2rem;
}
.bottle-img-rock{
    height: 655px;
}
@media (max-width:1920px) and (min-width:768px){
    .right-text{
        text-align: right;
    }
}
@media (max-width:767px){
    div.arrow{
        width: 12%;
        font-size: 3rem;
        line-height: 10rem;
    }
    .text-ce{
        text-align: center;
    }
    div.numWrap{
        width: 75%;
    }
    .fixed-bottom {
        position: unset;
    }
    .photo-list > li{
        margin: 10px 0 0;
        width: 73%;
    }
    .search-wrap.search-wrap-1 input{
        width: 100%;
    }
    .m-box{
        position: relative;
        left: 3rem;
    }
    .snav span{
        padding: 0 18px;        
    }
    .m7-box-3 {        
        width: 100%;
    }
    .toggled{
        right: 0px;
    }
    .my-12{
        margin-bottom: 12px;
        margin-top: 12px;
    }
    .footer nav {
        float: none;
    }
}
/*Image Hover Effect*/
.content {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-image {
    width: 100%;
    height: 300px;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    font-size: 20px;
}

.fadeIn-bottom{
    top: 80%;
}
.loadingmessage{
    position:fixed;
    opacity:.7;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:9999999;
    background:url("../images/loader.gif") 50% 50% no-repeat #f9f9f9;
    display:none
}
.locartion_cover input.form-control{
    width: 100% !important;
    padding: 10px 8px 10px !important;
}
.locartion_cover button.btn{
    margin: 0px !important;
}
.locartion_wrapper .search-wrap.search-wrap-1{
    padding: 15px 27px;
}

.shell {
    max-width: 1688px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.images-boxes {
    position: relative;
    z-index: 2;
    font-size: 0;
}


/*footer*/

.copyright {
    float: none !important;
    font-size: 1em;
    text-align: center;
    padding: 16px 0;
    background-color: #384c6066;
}
[data-background-color="black"] {
    background-color: #223141;
}
.footer ul li a {
    font-size: 13px;
    padding-left: 0 !important;
}
.footer ul li {
    display: block;
    line-height: 30px;
}
nav h4{
    text-align: left;
}
.footer ul {
    text-align: left;
}
.footer nav{
    padding: 10px 0 20px;
    float: none;
    display: block;
}
.s_icon{
    padding: 0 10px 0 0;
    font-size: 15px;
}
.logo-text {
    display: flex;
}   
.logo-image{
    background:  url('../images/logo.png');
    height: 50px;
    width: 70%;
    background-repeat: no-repeat;
    background-color: #fff;
}
.logo-image-style{

    height: 60px;
    width: 100%;

    background-color: #fff;
}
.text-footer, .text-footer_second{
    font-size: 12px;
    text-align: left;
    padding: 0 11px;
}
.text-footer_second{
    padding: 0;
}
#toTop{
    background:#fff none repeat scroll 0 0;
    border:2px solid #000;
    border-radius:3px;
    bottom:0;
    font-size:1.4rem;
    color:#000;
    cursor:pointer;
    display:none;
    margin:2rem 1rem;
    opacity:.8;
    padding:10px 15px;
    position:fixed;
    right:5px;
    text-decoration:none;
    transition:all 300ms ease 0s;
    z-index:10000
}


/*color code*/

.add-color-class span {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 4px !important;
}
.active_color{
    border: 1px solid #ccc;border-radius: 50%;margin: 0;
}
.active_color span {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 4px !important;
}

/*Accessorice*/
.h-auto{
    height: auto;
}

/*Category*/
.fixed-box .nav-tabs{
    background-color: #f6f6f6;
    /*border-bottom: 5px solid #dadada;*/
}

.details_product{
    font-size: 20px;
}
@media (min-width:1024px) and (max-width:1100px){
    .contact .page-header.page-header-small{
        min-height: 0vh;
        max-height: 270px;
    }    
    .about .page-header.page-header-small{
        min-height: 35vh;
    }
}

@media (min-width: 980px) and (max-width: 1023px) {   
    .footer ul li a {
        font-size: 10px;
    }
    .footer ul li, nav h4 {
        text-align: center;
    }
    .contact .page-header.page-header-small{
        min-height: 0vh;
        max-height: 270px;
    }

}

@media (min-width: 768px) and (max-width: 979px) {
    .footer ul, .copyright{
        text-align: center
    }
    .footer ul li a {
        font-size: 10px;
    }
    .footer ul li, nav h4 {
        text-align: center;
    }
    .contact .page-header.page-header-small{
        min-height: 0vh;
        max-height: 203px;
    }    
    .logo-image{
        width: 570px;
    }
    .text-footer{
        padding: 0 5px;
    }
/*    .fixed-box {
        margin-top: 94px;
    }*/
    .about .page-header.page-header-small{
        min-height: 35vh;
    }
}

@media only screen and (max-width: 767px) {
    .images-box {
        display: inline-block;
        vertical-align: top;
        margin: 5px;
    }
    .section-cards{
        height: auto;
    }
    .shell{
        top: -110px;
    }
    .text-footer_second{
        padding-top: 30px;
    }
    .h1-responsive {
        font-size: 14px;
        margin-top: 60px;
        margin-bottom: 5px;
    }
    .flex-center ul li p{
        margin-bottom: 5px;
    }
    .carousel-caption {
        top: 10%;
    }
    .btn-lg{
        padding: 10px 40px;
    }
    .about .page-header.page-header-small{
        min-height: 0;
        max-height: 150px;
    }
    .page-header .content-center{
        top:55%;
    }
    .page-header .content-center h1{
        font-size: 2em;
    }        
    .btn_age{
        margin: 10px 15px 0 15px !important;
    }
    .logo-image{
        width: 310px;
    }
    .text-footer{
        padding: 0 7px;
    }
    .fixed-box {
        /*margin-top: 94px;*/
    }
    .ff_column { 
        display: flex;
        flex-flow: column;
    }
    .one { 
        order: 2; 
    }
    .two { 
        order: 1; 
    }
    .m3-txt{
        margin-top: 0;
    }
    .locartion_cover button.btn{
        width: 100%;
    }
    .locartion_cover input.form-control {
        margin: 0 0 10px !important;
    }
    .txt-center{
        text-align: center;
    }
    .projects-5 hr {
        margin: 20px auto;
        max-width: 970px;
    }
    .tit{
        padding: 0 !important;
    }
    .form-control, .btn.btn-success{
        font-size: 1em;
    }
    .content-image {        
        height: auto;
    }
    .nav-tabs>.nav-item>.nav-link{
        margin: 0;
        padding: 11px 15px;
    }
    li.nav-item .nav-link{
        font-size: 10px !important;
    }
    .banner170 ul, .banner170{
        height: 130px;
    }
    .tab-content .wrapper {
        margin-top: 1.9rem;  
    }
    .wrapper .my-5{
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .item-product h3, .item-product h2{
        margin-bottom: 10px;
        font-size: 1.600em;
    }
    .projects-5{
        padding: 15px 0;
    }
    .product-bottom h2{
        font-size: 1.9em;
        margin-bottom: 15px;
    }
    .item-product{
        padding: .5rem 0;
    }
    .info-horizontal .icon, .info .info-title{
        margin-top: 0;
    }
    .air-fucos {
        margin-bottom: 15px;
    }
    .details_product {
        font-size: 14px;
    }
    .m2-txt {
        margin-top: 2rem;
    }
    .fixed-box .nav-tabs{
        padding: 10px 0.7rem;
        border-bottom: 0px;
    }
}
@media only screen and (max-width: 640px) {
    .carousel-caption {
        top: 0%;
    }
    .contact .page-header.page-header-small{
        min-height: 0vh;
        max-height: 97px;
    }
    .btn_age{
        margin: 10px 15px 0 15px !important;
    }
    .logo-image{
        width: 380px;
    }
}
