/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2017, 12:06:07 PM
    Author     : Work
*/
.readonly{
    background-color: #dedede;
    cursor: not-allowed;
}
.required {
    color: red;
}
img{
    max-width: 100%;
}

.navbar-brand {
    padding: 0px 25px;
}
.pt20{
    padding-top: 20px !important;
}

.loadingmessage{
    position:fixed;
    opacity:.7;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:9999999;
    background:url("../images/loader.gif") 50% 50% no-repeat #f9f9f9;display:none
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}
.card-product {
    margin-top: 30px;
}
.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    z-index: 3;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card .card-content {
    padding: 15px 20px;
    position: relative;
}
.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}
.card .card-image img {
    border-radius: 6px;
    height: 170px;
    pointer-events: none;
    width: 100%;
}
.counter {
    background-color: #E91E63;
    border-radius: 10rem;
    color: hsl(0, 0%, 100%);
    font-size: 11px;
    margin-left: -9px;
    margin-top: -10px;
    padding: 3px 8px;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 30px;
}
.card .card-footer div {
    display: inline-block;
}
.change_price_a {
    font-size: 14px;
    padding: 10px;
    float: right;
    position: relative;
}
.change_price_a .fa{
    font-size: 24px;
}
.table-shopping .img-container {
    width: 120px;
    max-height: 160px;
    overflow: hidden;
    display: block;
}
select.icon-menu option {
    background-repeat:no-repeat;
    background-position:center;
    padding-left:30px;
    height: 30px;
    width: 30px;
    margin: 10px;
    background-size: cover;
}
.d-block {
    display: block;
    text-align: left;
}

/*Login page / Forgot Password / Reset Password*/
.loginscreen.middle-box {
    width: 100%;
}
.fixed_bg-img{
    min-height: auto;
    position: fixed;
    height: 100vh;
    background-clip: padding-box;
    /*min-width: 100%;*/
    max-width: 100%;
}
.fixed_bg-img img{
    max-width: 100%;
    height: 100%;
    /*width: 100%;*/
}
.mh-100{
    min-height: 100%;
}
.p_title{
    margin: 0 0 10px;
    font-size: 15px;
    color: #363535;
}
#LoginForm, #ForgotPassword, #forgot_link_form {
    margin-top: 25px;
    margin-bottom: 25px;
}
.form-control{
    /*height: 55px;*/
}
.btn-primary{
    padding: 13px 12px !important;
}

.logo_img{
    padding: 15px 0 6px;
}
.title_login{
    font-size: 20px;color: #000;padding: 7px 0;
}
.submit_btn{
    color: #000;font-weight: bold;text-align: right;font-size: 16px;
}
.mx-0{
    margin-left: 0;
    margin-right: 0;
}
.wizard > .content > .body label.error{
    margin-left: 0px !important;
}
.mt-0{
    margin-top: 0px;
}
.mb-0{
    margin-bottom: 0px;
}
.pt-0{
    padding-top: 0px;
}
.billing_wrapper {
    border: 1px solid #c5c0c0;
    padding: 20px 10px;
    margin-bottom: 20px;
}
.wizard > .content > .body{
    width: 100% !important;
}
.control-label{
    margin-bottom: 0.5em !important;
}
.wizard > .steps > ul > li {
    width: 15% !important;
}
.ibox-content {
    padding: 15px 10px 20px 10px !important;
}
.mt-1{
    margin-top: 15px;
}
select.input-sm {
    height: 40px;
    line-height: 30px;
}

.change_font{
    color: #fff;
    font-size:15px;   
}
#myCanvas{
    border: 2px solid #1AB394;
}
input.readonly{
    cursor: not-allowed;
}
.display-hide{
    display: none;
}
select.icon-menu option {
    background-repeat:no-repeat;
    background-position:bottom left;
    padding-left:30px;
}
.checkbox.pl-0{
    padding-left: 0px;
}
.accessory-form-group{
    margin: 5px;
}
.accessory-form-group .checkbox input[type="checkbox"]{
    position: relative;
    margin-left: 0px;
}
.card .card-image img.pro-img{
    height: 200px;
    width: auto;
}
.wrapper-header-content{
    padding: 20px 10px 0px;
}
.breadcrumb_header_text{
    padding: 5px 15px;
}
.breadcrumb_header_text a, .breadcrumb_header_text span{
    color:#5a5a5a;
    font-size: 16px;
}
.breadcrumb_header_text a.current{
    font-weight: bold;
}
.category_box{
    border: 1px solid #d4d1d1;
    width: 100%;
    padding: 16px;
    font-size: 20px;
}
.w-80{
    width: 80% !important;
}
@media (max-width:979px){
    .fixed_bg-img{
        display: none;
    }
    .wrapper-content .btn-round{
        float: none !important;     
        width: 100%;
    }
    .table  .btn-round{
        width: auto;
    }
    .wrapper-content h2{
        text-align: center;
    }
    #page-wrapper{
        padding: 20px 10px 40px !important;
    }
    
    #wrapper .navbar-brand{
        float: none
    }

    #wrapper .navbar-brand img{
        width: auto !important;
        margin: auto;
    }
}

@media (max-width:767px){
    .navbar-top-links li a {
        padding: 0px 10px !important;
        min-height: 30px  !important;
    }

    .ibox-content #DataTables_Table_0_wrapper span.label{
        display: inline-block;
    }

    .ibox-title h5{
        margin-bottom: 0 !important;
    }

    .wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
        margin: 0 0.2em 0.5em !important;
        padding: 8px 11px !important;
    }

    .wizard > .steps > ul > li {
        width: 50% !important;
    }

    .resp_w-auto{
        width: auto !important;
    }

    .fs-12{
        font-size: 12px;
    }

    .w-80{
        width: 100% !important;
        padding: 6px 5px !important;
    }

    
    .fileinput .input-group-addon {
        padding: 2px;
    }
    .fileinput .form-control{
        height: 50px;
        padding: 9px 0
    }
    
    .btn-fill, .ibox-content .btn{
        margin-top: 5px;
    }
}
@media (max-width:600px){
    .mt-5px{
        margin-top: 5px !important;
    }
    .mb-17{
        margin-bottom: 17rem !important;
    }

    .mt-15{
        margin-top: 15rem !important;
    }

    .mt-5{
        margin-top: 5rem !important;
    }

    .mt-10{
        margin-top: 10rem !important;
    }

    .mb-5{
        margin-bottom: 5rem !important
    }

    .mt-7{
        margin-top: 7rem !important
    }

}